<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Motos 2025 - Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>
    
    <div>
        <h1>Tienda de Motos varias</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptatibus officiis cum amet sequi repudiandae distinctio perferendis rerum mollitia vitae asperiores, 
            nulla optio id pariatur esse eum iusto quia deleniti.</p>
        <a href="/motos">Ver Motos</a>
    </div>

    <%- include('partials/footer') %>
</body>
</html>